:root {
    --morado:#845cff;
    --azulOscuro:#32325d;
    --gris:#525f7f;
}

@font-face {
    font-family: 'Brown Light';
    src: url('../fonts/Brown-Light.eot');
    src: url('../fonts/Brown-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brown-Light.woff') format('woff'),
    url('../fonts/Brown-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown Bold';
    src: url('../fonts/Brown-Bold.eot');
    src: url('../fonts/Brown-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brown-Bold.woff') format('woff'),
    url('../fonts/Brown-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Brown Regular';
    src: url('../fonts/Brown-Regular.eot');
    src: url('../fonts/Brown-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Brown-Regular.woff') format('woff'),
    url('../fonts/Brown-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

body{
 background-color: #ffffff;   
}

.logo {
    float: left;
    width:152px;
    height:46px;
}

.menu {
    color:var(--azulOscuro);
    float: right;
    font-family: 'Brown Bold';
    font-size: 19px;
}

.menu ul li {
    display: inline;
    text-decoration: none;  
    padding-bottom: 50px;
    padding: 0 5px;
}

.menu ul li a {
    color:var(--azulOscuro);
    text-decoration:none;
}

.btnMorado {
    background-color: var(--morado);
    color: #ffffff;
    border:none;
    border-radius: 3px;
    font-family: 'Brown Bold';
    font-size: 15px;
    width:142px;
    height:42px;
}

.btnSign-in{
    width:102px;
    height:42px; 
    font-size: 19px;  
}

.container {
    padding: 10px 300px 0px; 
}

.container-customers {
    background-color:#fafaff;
    padding: 10px 300px 0px; 
}

.info-customers {

    padding-top: 100px;
    text-align: center;
}

.info-docs {
    padding-top: 200px;
}

.title {
    color: var(--azulOscuro);
    font-family: 'Brown Bold';
    font-size: 48px;

}

.title-customers , .title-docs{
    color: var(--azulOscuro);
    font-family: 'Brown Light';
    font-size: 48px;
}

.text {
    color: var(--gris);
    font-family: 'Brown Light';
    font-size: 23px;
}

.principal {
    width: 1180px;
    overflow: hidden;
    height: 700px;
}

.information {
    padding-top: 120px;
    width: 480px;
    float:left;
}

.image {
    float: right; 
    width: 695px;
}

.img-right {
    width: 695px;
}
.text-gallery {
    color: var(--gris);
    font-family: 'Brown Light';
    font-size: 16px;
}

.text-reg {
    color: #32325d;
    font-family: 'Brown Regular';
    font-size: 19px;
}

.container-product {
    padding: 10px 300px 0px; 
}

.card {
    width: 300px;
    height: 600px;
    background-color: #ffffff;
    margin:auto;
}

.container-customers {
    text-align: center;
}

.container-docs{
    padding: 10px 300px 0px; 
    background-color: #fafaff;
}

.gallery {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

table {
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background-color:#fafaff;
  }

table:hover {
    border: 5px solid rgb(255, 255, 255);
}

.column {
    float: left;
    width: 25%;
    margin-top:17px;
    padding-top:10px;
}

.footer {
    background-color: #212240;
    height: 600px;
    padding: 10px 300px 0px; 
}

.social-media a i {
color: #555377;
}

.footer a {
text-decoration: none;
color: #ffffff;
font-size: 16px;
font-family: 'Brown Light';
}


